body {
  padding: 0;
  width: 90vw;
  margin: 0 auto;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}
